---
import Layout from "../../layouts/Layout.astro"
import agents from "../../data/agents.json";

import Details from "../../components/Details.astro";


export async function getStaticPaths() {
  return agents.map(agent => ({
    params: { name: agent.name.toLowerCase() },
    props: {agent : agent }
  }));
}

const { name } = Astro.params;
const {agent } = Astro.props;

if (!agent) {
  return Astro.redirect("/404");
}
---

<Layout title = {name}>

  <div class="container">

    <section> 
       <img src={agent.splash}/>  
    </section>


    <Details agente={agent} />
  </div>
    
  <style>
    .container{ 
      display: flex;
      gap: 12px;
      
    }

    section{
      
    }
    img{
      width: 400px;
      height: 480px;
    }

  </style>
        

</Layout>