---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
import agents from '../data/agents.json';


---

<Layout title="Agentes">
    
	<section class="menucaja">
        <nav class="menu">
            <article class="menuboton ">
                <img src="/public//icons/DuelistClassSymbol.webp" alt="">
            </article>
            <article class="menuboton ">
                <img src="/public//icons/ControllerClassSymbol.webp" alt="">
            </article>
            <article class="menuboton ">
                <img src="/public/icons/SentinelClassSymbol.webp" alt="">
            </article>
            <article class="menuboton ">
                <img src="/public/icons/InitiatorClassSymbol.webp" alt="">
            </article>
        </nav>
    </section>

	<section class="principal">
        {
            agents.map(agent => (
                <a href={`/agente/${agent.name.toLowerCase()}`}>
                    <Cards
                        image={agent.icon}
                        name={agent.name}
                    />
                </a>
            ))
        }
		
	</section>

</section>



<style>
	.principal a{
		display: block;
		text-decoration: none;
		margin: 24px;
	}

	.menucaja{
    margin-top: 16px;
    margin-inline: 10px;
    padding: 0;
    border-radius: 25px;
   
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 16px;
    padding-inline: 0;
}
.menuboton{
    display: flex;
    padding: 14px;
    width: 85px;
    height: 85px;
    cursor: pointer;
}
.menuboton:hover{
    filter: drop-shadow(0 0 6px rgb(255, 255, 255));
    scale: 102%;
    transition: 0.3s;
}
.principal{
    margin-top: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

</style>

</Layout>
